<div>
  <button class="btn btn-primary refresh" (click)="getComments()">Refresh</button>
</div>
<ul class="list-group">
  <li *ngFor="let comment of comments" class="list-group-item">
    <div class="inner">
      <h3>{{comment.userName}}</h3>
      <p>{{comment.commentText}}</p>
      <i>{{comment.date}}</i>
    </div>
    <button class="btn btn-danger" (click)="deleteComment(comment.id)">Delete</button>
  </li>
</ul>
<h4 (click)="commentFormTrigger()" class="comment-block-trigger">Добавить комментарий</h4>
<form *ngIf="showComentBlock" (ngSubmit)="addComment(addCommentForm)" [formGroup]="addCommentForm" class="add-comment">
  <div class="form-group">
    <label for="user_name">Имя пользователя</label>
    <input type="text" id="user_name" class="form-control" formControlName="userName">
    <small class="form-text text-muted" *ngIf="formErrors.userName">{{formErrors.userName}}</small>
  </div>
  <div class="form-group">
    <label for="comment_text">Имя пользователя</label>
    <textarea id="comment_text" class="form-control" formControlName="commentText"></textarea>
    <small class="form-text text-muted" *ngIf="formErrors.commentText">{{formErrors.commentText}}</small>
  </div>
  <button class="btn btn-success" [disabled]="!addCommentForm.valid">Отправить</button>
</form>